<h1><a class="flickrView" href="{{photo.link}}">{{photo.title}}</a></h1>
<p><a class="author" href="https://www.flickr.com/photos/{{photo.author_id}}">{{photo.author | userName }}</a> | Published: {{photo.published | date :"dd MMM yyyy 'at' HH:mm"}}</p>
<img ng-src="{{photo.media.m}}" alt="{{photo.title}}" />
<p class="description" ng-bind-html="description"></p>
Tags:
<span class="tag" ng-repeat="tag in tags"><a class="tagLink" href="https://www.flickr.com/search/?text={{tag}}&sort=relevance">{{tag}}</a>&nbsp;&nbsp;</span>
<div>Back Button</div>





