<table>
  <thead>
    <tr><th colspan="5">A list of photos</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in photosList">
      <td><img ng-src="{{item.media.m}}" alt="{{item.title}}" /></td>
      <td><a class="title_link" href="#/photos/{{photosList.indexOf(item)}}">{{item.title}}</a></td>
      <td>Published: {{item.published | date :"dd MMM yyyy 'at' HH:mm"}}</td>
      <td><a class="author" href="https://www.flickr.com/photos/{{item.author_id}}">{{item.author | userName}}</a></td>
      <td><a class="flickrView" href="{{item.link}}">View on Flickr</a></td>
    </tr>
  </tbody>
</table>